$bodyColor: hsl(185, 41%, 84%);
$containerColor: hsl(189, 41%, 97%);
$darkGreen: hsl(183, 100%, 15%);
$lightGreen: hsl(172, 67%, 45%);
$grey: hsl(186, 14%, 43%);
$lightGrey: hsl(186, 14%, 63%);
$white: hsl(0, 0%, 100%);
$inputColor: hsl(185, 41%, 94%);
$activeButton: hsl(172, 67%, 55%);
$waring: hsla(21, 100%, 50%);
